.page[data-v-8ae353b2]{position:relative;width:100%;height:100%;overflow:hidden}.page__container[data-v-8ae353b2]{height:100%;flex-direction:column;overflow:hidden}.page .scroll-view[data-v-8ae353b2]{width:100%;height:100%;text-align:center}
